# Database AWS RDS
DATABASE_URL="postgresql://postgres:<PASSWORD_DATABASE>@quora-db.cy9qaey8u3kn.us-east-1.rds.amazonaws.com:5432/postgres"

# Security
JWT_SECRET="iniquora"

# URLs
FRONTEND_URL="http://localhost:5173"
VITE_BACKEND_URL="http://localhost:3000"

# Google OAuth (Nanti diisi pas mau ngerjain fitur login)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:3000/auth/callback"